@model IEnumerable<Pkt.Models.Entites.PktFor>

@{
    ViewData["Title"] = "Assign Pkt";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card card-info">
                    <div class="card-header">
                        <h2 class="card-title"><b>Assign Pkt</b></h2>
                    </div>
                    
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form id="quickForm" asp-action="Assign" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Pkt List</label>
                                        <select class="form-select select2bs4" name="PktName" id="pkt" style="width: 100%;">
                                            <option value="">Please Select Pkt</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4" data-select2-id="30">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Excel</label>
                                        <input type="file" name="file" class="form-control">
                                    </div>
                                </div>
                               

                                <div class="form-group col-md-4 col-lg-4">
                                    &nbsp;<label for="exampleInputEmail1"> </label>
                                    <div class="mt-2">
                                        &nbsp; &nbsp; <a href="/dist/assignpkt.csv" title="upload format"><i class="fa fa-download" aria-hidden="true"> &nbsp; Download Format</i></a>
                                    </div>
                                </div>
                             </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <div class="row assignList">
                    <div class="col-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h2 class="card-title"><b>Assigned PKT</b></h2>
                             </div>
                          <div class="card-body" id="assignedPKT">
                                <table id="example22" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                PKT Name
                                            </th>
                                            <th>
                                                Employee ID
                                            </th>
                                            <th>
                                                Created On
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
     <script>


        var baseUrl = window.location.origin;
        var controllerUrl = baseUrl;
        const urlObject = new URL(baseUrl);
        const hasPort = urlObject.port !== "" && !isNaN(parseInt(urlObject.port));

        if (hasPort) {
            controllerUrl = baseUrl;
        }
        else {
            controllerUrl = baseUrl + '/pkt';
        }

        $(function () {
              $.ajax({
                url: controllerUrl + '/ManagePkts/GetPktList',
                type: 'GET',
                success: function (response) {
                    $.each(response, function (key, val) {
                        $('#pkt').append('<option value="' + val.name + '">' + val.name + '</option>')
                    });
                }
            });

            $('#quickForm').validate({
                rules: {
                    PktName: {
                        required: true,
                    },
                    file: {
                        required: true,
                    },
                 },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });

        });
    </script>

    <script>

        $(function () {
            $('.assignList').hide();
            $('#pkt').on('change', function () {
                if ($(this).val() == "") {
                    $('.assignList').hide();
                }
                $.ajax({
                    url: controllerUrl + '/ManagePkts/assignedList',
                    type: 'POST',
                    dataType: 'text',
                    headers: { "RequestVerificationToken": '@Html.AntiForgeryToken()' },
                    data: {
                        PKTName: $(this).val(),
                    },
                    success: function (response) {
                        if (response.length > 0) {
                            $('.assignList').show();
                            var jsonArray = JSON.parse(response);
                            var html = '';
                            $.each(jsonArray, function (key, val) {
                                html += '<tr>' +
                                    '<td>' + val.pktName + '</td>' +
                                    '<td>' + val.userId + '</td>' +
                                    '<td>' + val.createdOn + '</td>' +
                                    '</tr>';

                            });
                            $('#example22 tbody').html(html);
                            $('#example22').DataTable();
                        }
                    }
                });
             });
         });
    </script>



}